<div class="col-md-10 col-md-offset-1">
  <div class="list-group">
    <% @crossings.each do |c| %>
      <a href="<%= crossing_path(c) %>" class="list-group-item">
        
        <h4 class="list-group-item-heading"><%= c.title %></h4>
        <p class="list-group-item-text"><%= c.location%></p>
      </a>
    <% end %>
  </div>
</div>
