/*
 *= require_tree .
 *= require bootstrap-theme
 *= require bootstrap
*/

#footer {
  background-color: #f5f5f5;
  height: 60px;
}

.credit {
  margin-top: 20px;

}

.muted {
  color: #999999;
}

#bound_button_container{
  position:absolute;
  top:20px;
  right:30px;
}

#legend-container{
  position: absolute;
  top:60px;
  right:30px;
  width:136px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}